@{
    ViewData["Title"] = "Politica de confidentialitate";
}
<br />
<h2 id="h-subjects">@ViewData["Title"]</h2>
<br /> <hr /> <br />
<h4>Despre DevCollab</h4>
<br />
<p>
    Această platformă este dedicată colaborării și partajării de cunoștințe pentru 
    dezvoltatori. Scopul principal al acestui website este de a crea un spațiu virtual 
    vibrant și interactiv, unde membrii comunității pot pune întrebări, oferi răspunsuri 
    și împărtăși experiențe legate de diverse domenii tehnologice.</p>
    <hr />
<p>Informațiile personale nu vor fi comercializate.</p>