@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acces interzis";
}

<header>
    <h1 id="h-cont" class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Nu ai acces la această resursă.</p>
</header>
