@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Logare externa";
}

<h1 id="h-cont">@ViewData["Title"]</h1>
<h2 id="external-login-title">Asociază contul tău @Model.ProviderDisplayName</h2>
<hr />

<p id="external-login-description" class="text-info">
    Te-ai autentificat cu succes folosind <strong>@Model.ProviderDisplayName</strong>.
    Te rugăm să introduci o adresă de e-mail și să apeși butonul
    "Înregistrare" pentru a completa procesul de autentificare.
</p>

<div class="row">
    <div class="col-md-4">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="email" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger">Email-ul este obligatoriu</span>
            </div>
            <button id="buton2" type="submit" class="w-100 btn btn-lg btn-secondary">Înregistrare</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
