@page
@model LockoutModel
@{
    ViewData["Title"] = "Blocat";
}

<header>
    <h1 id="h-cont" class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Acest cont a fost blocat, încearcă mai târziu.</p>
</header>
