@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Resetează confirmarea parolei";
}

<h1 id="h-cont">@ViewData["Title"]</h1>
<p>
    Parola a fost resetată. <a asp-page="./Login">Apasă aici pentru a te conecta.</a>.
</p>
