@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Resetează cheia de autentificare";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
<div role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Dacă resetezi cheia de autentificare, aplicația de autentificare nu va funcționa până când o reconfigurezi.</strong>
    </p>
    <p>
        Acest proces dezactivează autentificarea 2f până când verifici aplicația de autentificare.
        Dacă nu finalizezi configurarea aplicației de autentificare, este posibil să pierzi accesul la cont.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post">
        <button id="reset-authenticator-button" id="buton3" class="btn btn-danger" type="submit">Resetează cheia de autentificare</button>
    </form>
</div>
