@page
@using Microsoft.AspNetCore.Http.Features
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Autentificare two-factor (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3>@ViewData["Title"]</h3>
@{
    var consentFeature = HttpContext.Features.Get<ITrackingConsentFeature>();
    @if (consentFeature?.CanTrack ?? true)
    {
        @if (Model.Is2faEnabled)
        {
            if (Model.RecoveryCodesLeft == 0)
            {
                <div class="alert alert-danger">
                    <strong>Nu mai ai coduri de recuperare disponibile.</strong>

                    <p>Trebuie să 
                    <a asp-page="./GenerateRecoveryCodes">generezi un nou set de coduri de recuperare.</a> 
                    înainte de a te putea autentifica cu un cod de recuperare.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft == 1)
            {
                <div class="alert alert-danger">
                    <strong>Mai ai un singur cod de recuperare disponibil.</strong>
                    <p>Poți să <a asp-page="./GenerateRecoveryCodes">generezi un nou cod de recuperare.</a>.</p>
                </div>
            }
            else if (Model.RecoveryCodesLeft <= 3)
            {
                <div class="alert alert-warning">
                    <strong>Mai ai @Model.RecoveryCodesLeft coduri de recuperare disponibile.</strong>
                    <p>Poți să <a asp-page="./GenerateRecoveryCodes">generezi un nou set de coduri de recuperare.</a>.</p>
                </div>
            }

            if (Model.IsMachineRemembered)
            {
                <form method="post" style="display: inline-block">
                    <button id="buton" type="submit" class="btn btn-primary">Uită acest browser</button>
                </form>
            }
            <a asp-page="./Disable2fa" class="btn btn-primary">Dezactivează 2FA</a>
            <a asp-page="./GenerateRecoveryCodes" class="btn btn-primary">Resetează codurile de recuperare</a>
        }
        <br />
        @if (!Model.HasAuthenticator)
        {
            <a id="enable-authenticator" asp-page="./EnableAuthenticator">Adaugă aplicatie de autentificare</a>
        }
        else
        {
            <a id="buton2" asp-page="./EnableAuthenticator" class="btn btn-secondary">Setează 2FA</a>
            <a id="buton2" asp-page="./ResetAuthenticator" class="btn btn-secondary">Resetează 2FA</a>
        }
    }
    else
    {
        <div class="alert alert-danger">
            <strong>Politica de confidențialitate și cookie-uri nu a fost acceptată.</strong>
            <p>Trebuie să accepți politica înainte de a putea activa autentificarea 2f.</p>
        </div>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
