@{
    ViewBag.Title = "Categorii";
}

<div id="cat" class="box">
    <h2 id="h-categ">@ViewBag.Title de subiecte</h2>
</div>

<br />

@if (TempData.ContainsKey("message"))
{
    <h2 id="succes-msg">@ViewBag.message</h2>
    <br />
}

@if (ViewBag.AfisareButoane == true)
{
    <a id="buton2" class="btn btn-secondary" href="/Categories/New">Adaugă o nouă categorie</a>
    <br />
}

<br /> 
<div id="heart">&#x2665;</div>
<hr />
<br />

@foreach (var category in ViewBag.Categories)
{
    <h3>@category.CategoryName</h3>
    <br />
    <a id="buton" class="btn btn-secondary" href="/Categories/Show/@category.Id">Afișare categorie</a>

    @if (ViewBag.AfisareButoane == true)
    {
        <a id="buton" class="btn btn-secondary" href="/Categories/Edit/@category.Id">Editare categorie</a>

        <br /><br />

        <form method="post" action="/Categories/Delete/@category.Id">

            <button id="buton3" class="btn btn-danger" type="submit">Șterge categoria</button>

        </form>
    }
    <br />
    <br />
    <div id="heart">&#x2665;</div>
    <hr />
    <br />
}