model DevCollab.Models.Category

@{
    ViewBag.Title = "Categoria";
}

<h2 id="h-categ">@ViewBag.Title @Model.CategoryName</h2>

<br />

<br />
<a id="buton" class="btn alert-secondary" href="/Categories/Index/">Afișare listă categorii</a>


<br />
<hr />
<br />